html{
    width: auto;
    box-sizing: border-box;
    overflow-x: hidden;

}

body{
    margin: 0;
    width: auto;
}

.present_img_mobile{
    display: none;
}

a {

}

*{
    -webkit-appearance: none;
    -webkit-tap-highlight-color: #ccc;
    -webkit-text-size-adjust: none;
}
/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("ttf"),
         url("../fonts/Montserrat/static/Montserrat-Light.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format("ttf"),
         url("../fonts/Montserrat/static/Montserrat-Medium.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("ttf"),
         url("../fonts/Montserrat/static/Montserrat-SemiBold.woff") format("woff");
}
/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("ttf"),
         url("../fonts/Montserrat/static/Montserrat-Bold.woff") format("woff");
}

/* source-code-pro-regular - latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
  }
  /* source-code-pro-600 - latin */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Sourse-code-pro/source-code-pro-v18-latin-600.svg#SourceCodePro') format('svg'); /* Legacy iOS */
  }

.scrollTop{
    left:95%;
}

.you_can_block_tablet{
    display: none;
}

.main_block {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/MainBlock_bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

}

.main_logo{
    padding-top: 5%;
    padding-left: 5%;
}


.wish_title_block_mobile{
    display: none;
}

.main_block__title{
    margin-top: 12%;
    margin-left: 50%;
    font: 600 36px/44px Montserrat;
    color: white;
    width: 30%;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.8s;
}

.main_block__title._active {
    opacity: 100%;
    transform: translateX(0);
}
.main_block__text{
    font: 400 18px/22px Montserrat;
    color: white;
    margin-left: 50%;
    width: 30%;
}

.buttons_block{
    margin-left: 50%;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
}

.main_block__button{
    height: 50px;
    width: 200px;
    margin-top: 3%;
    font: 700 14px/17px Montserrat;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.buttons{
    padding-right: 3%;
}
.main_block__button.blue:hover{
    background-color: white;
    color: rgba(0, 141, 210, 1);
    transition: all 0.4s;  
    border-color:rgba(0, 141, 210, 1);
    border-radius: 60px;
    border: 0.2em solid; 
}

.main_block__button.white:hover{
    background-color: rgba(0, 141, 210, 1);
    color: white;
    transition: all 0.4s;
    border-color:white;
    border-radius: 60px;
    border: 0.2em solid;
}
.blue{
    background-color: rgba(0, 141, 210, 1);
    color: white;
}

.white{
    color: rgba(0, 141, 210, 1);
}

.second_block{ 
    display: flex;
    justify-content:space-around;
} 

.second_title_block{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.second_title_block._active{
    transform: translateX(0);
    opacity: 100%; }

.second_title{
    position: absolute;
    z-index: 1;
    font: 600 28px/34px Montserrat;
    color: white;
}

.img_title{
    margin-left: auto;
    margin-right: auto;
}

.step{
    width: 20%;
}

.steps_title{
    font: 600 20px/25px "Source Code Pro";
    color: rgba(196, 196, 196, 1);
}

.step_info{
    font: 400 20px/25px "Source Code Pro";
    color: rgba(0, 0, 0, 1);
    padding-left: 5%;

}

.second_block_Kalinin{
    opacity: 100%;
    transform: translateX(-150%);
    width: 50%;
}

.second_block_Kalinin._active{
    opacity: 100%;
    transform: translateX(0);
    transition: all 0.8s;
}
.stan_spec{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second_block_step{
    width: 35%;
}

.stan_spec__title{
    font: 600 28px/34px Montserrat;
}

.you_can_title{
    position: absolute;
    z-index: 1;
    font: 600 28px/34px Montserrat;
    color: white;

}

.you_can_title_block{
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.you_can_title_block._active{
    opacity: 1;
    transform: translateX(0);
}

.present_title{
    position: absolute;
    z-index: 1;
    font: 600 28px/34px Montserrat;
    color: white;

}

.present_text{
    margin-top: 5%;
    width: 30%;
}

.present_title_block{
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.present_title_block._active{
    opacity: 1;
    transform: translateX(0);
}


@media screen and (min-width: 1150px) {
    

.you_can_block{
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(200%);
    transition: all 0.8s;
    overflow: hidden;

   /* position: relative;
   background-image: url("/img/you_can_bg.jpg");
    background-repeat: no-repeat; */
}

.you_can_block._active{
    opacity: 1;
    transform: translateX(0);
}

.first_step{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;

}

.you_can_title_2{
    z-index: 1;
    font: 600 28px/34px Montserrat;
    color: white;
    text-align: center;
    margin-top: -15%;
    margin-bottom: 40%; 
}

.bg{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1;
    margin-left: auto; 
    margin-right: auto;
}

.laptop{
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: -90%;
}

.step_info_white{
    font: 400 20px/25px "Source Code Pro";
    color: white;
    padding-left: 5%;
}

.you_can_block_2{
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.you_can_block_2._active{
    opacity: 1;
    transform: translateX(0);
}
.you_can_bg_2{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}

.you_can_block__step{
    position: absolute; 
    width: 425px;
    z-index: 1;
    margin-left: 100%;
    margin-top: -12%;
}

.you_can_block_2__step{
    position: absolute; 
    margin-left: -170%;
    margin-top: 55%;
    width:425px;
    z-index: 1;
}

.you_can_block_2__step2{
    width: 425px;
    margin-top: -75%;
    margin-left: 75%;
}

.iphone{
    align-items: center;
    margin-left: 140%;
    margin-top: 100%;
}

.first{
    display: flex;
    position: absolute;

}
.zayavka{
    margin-top: -120%;
    margin-left: -50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -140%;
}

.you_can_title_second{
    color: black;
    text-align: center;
    z-index: 1;
    font: 600 28px/34px Montserrat;
    color: white;
    text-align: center;
    margin-bottom: 150px;
}

.wish_title_block_mobile{
    display: none;
}

.wish_photo_1{
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.8s;
    overflow: hidden;

}

.wish_photo_1._active{
    opacity: 1;
    transform: translateX(0);
}

.wish_photo_2{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.wish_photo_2._active{
    opacity: 1;
    transform: translateX(0);
}

.wish_photo_3{
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.8s;
    overflow: hidden;

}

.wish_photo_3._active{
    opacity: 1;
    transform: translateX(0);
}

}
.wish_title_block{
    margin-top: 10%;
    padding-bottom: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; 
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;

}

.wish_title_block._active{
    opacity: 100%;
    transform: translateX(0);
}

.wish_title{
    position: absolute;
    z-index: 1;
    font: 600 28px/34px Montserrat;
    color: white;
    width: 90%;
/*    width: 820px; */
}

.wish_block{
    padding-bottom: 5%;
    background-color: #23242B;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_with_ph{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.wish_block__step {
    width: 20%;
    margin-left: 5%;
}

.wish_block__step.second{
    margin-left: 0;
    margin-right: 5%;
}

.events_title_block{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
    margin-top: 5%;
    margin-bottom: 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.events_title_block._active{
    opacity: 1;
    transform: translateX(0);
}
.events_title{
    position: absolute;
    z-index: 1;
    font: 600 21px/30px Montserrat;
    color: white;
}

.events_block{
    background: rgba(0, 0, 0, 0.05);
}

.carusel {
    position: relative;
    padding: 3% 40px 5%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.arrow {
    z-index: 1;
    content: '';
    background: white;
    border-radius: 23px;
    border: 0;
    font-size: 40px;
    padding-left: 10px;
    color: gray;
    width: 46px;
    height: 46px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
    display: flex;
}


.arrow.act {
    background: white;
    color: white;   
    cursor: pointer;
    outline: none;

}

.arrow:hover{
    cursor: pointer;
}

.gallery__buttons_block{
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.arrow.prev { 
    margin-right: 2%;
}

.arrow.next { 
    margin-left: 2%;
}

.gallery {
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 55%;
    display: flex;
    align-items: center;
}

.first_slide.act{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    transform: translateX(0);

}

.first_slide {
    transform: translateX(-150%);
    display: none;
}


.second_slide{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: white;
}

.second_slide.act{
    transform: translateX(0%);
    background-color: white;
}

.text_slide{
    margin: auto;
    margin-left: 40px;
}

.gallery_text{
    color: rgba(68, 68, 68, 1);
    font: 600 16px/20px Montserrat;
}

.gallery_title{
    font: 600 28px/34px Montserrat;
}

.text_block{
    margin-left: 50px;
    margin-top: 50px;
    width: 8%;
    height: fit-content;
}

.feedback_title_block{
    margin-top: 5%;
    margin-bottom: 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.feedback_title_block._active{
    opacity: 100%;
    transform: translateX(0);
}

.feedback_title{
    position: absolute;
    z-index: 1;
    font: 600 28px/34px Montserrat;
    color: white;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #23242B;
}
.contacts_form{
 /*   width: 540px; */

    width: 50%;
    padding: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 5%;
}

.form_text{
    font: 600 20px/24px Montserrat;
    text-align: center;
    margin-top: 50px;
    
}

.form_title{
    margin-top: 10%;
    margin-bottom: 10%;
    font: 600 28px/34px Montserrat;
    color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.form_title._active{
    opacity: 100%;
    transform: translateX(0);
}
.form_logo{
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 5%;
}

.format{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__steps_title{
    align-self: flex-start;
    font: 600 20px/25px "Source Code Pro";
    color: rgba(196, 196, 196, 1);
}

.form__steps_title.close{
    align-self: flex-end;
}

.input{
    width: 70%;
    font: 600 18px/22px Montserrat;
    margin-top: 5%;
    padding: 3%;
    border: 2px solid #444444;
    align-self: center;
}

.form_submit{
    align-self: center;
    background-color: #008DD2;
    border-radius: 30px;
    padding: 10%;
    margin-left: -10%;  
    color: white;
    font: 700 18px/22px Montserrat;
    border: none;
    margin-top: 20%;
    cursor: pointer;
}

.form_submit:hover{
    background-color: white;
    color:rgba(0, 141, 210, 1);
    border:rgba(0, 141, 210, 1);
    border-color:rgba(0, 141, 210, 1);
    border-radius: 60px;
    border: 0.2em solid;
    transition: all 0.4s;
}
.feedback{
    display: flex;
    justify-content: center;

    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.review{
    width: 20%;
}
.review__title{
    font: 400 28px/34px Montserrat;
}

.review__text{
    font: 400 18px/22px Montserrat;
}

.ava{
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.present_block{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.present_img{
 /*   width: 730px; */
    height: 480px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.present_img._active{
    opacity: 1;
    transform: translateX(0);
}
.footer{
    padding-top: 5%;
    padding-bottom: 2%;
    display: flex;
    background-color: #23242B;
    align-items: center;
    justify-content: space-between;
}

.versta{
    margin-left: 20%;
}

.footer_contacts_block{
    padding-right: 10%;
    display: flex;
}

.insta{
    margin-left: 50%;
}


@media screen and (max-width: 1150px) {
    html{
        width: 200%;
    }
    .you_can_block{
        display: none;
    }
    
    .you_can_block_2{
        display: none;
    }

    .you_can_block_tablet{
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
    }

    .step{
        width: 20%;
    }
    
    .step_info_white{
        font: 400 20px/25px "Source Code Pro";
        color: white;
    }

    .steps_title{
        font: 600 20px/25px "Source Code Pro";
        color: rgba(196, 196, 196, 1);
    }
    
    .step_info{
        font: 400 20px/25px "Source Code Pro";
        color: rgba(0, 0, 0, 1);
    }
    
    .second_block_step{
        width: 35%;
        margin-left: 0;
    }
    
    .stan_spec__title{
        font: 600 28px/34px Montserrat;
    }
    
    .first_step{
        display: none;
        align-items: center;
        flex-direction: column;
        margin-top: 250px;
    
    }
    
    .you_can_title_2{
        z-index: 1;
        font: 600 28px/34px Montserrat;
        color: black;
        text-align: center;
        margin-top: -15%;
        margin-bottom: 20%; 
    }

    
    .laptop{
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 0;
    }
    
    .you_can_block__step{
        width: 30%;
        z-index: 1;
        margin-top: 0;
        margin-left: 0;
    }
    
    .you_can_block_2__step{
        margin-left: 0;
        margin-top: 0;
        width:30%;
        z-index: 1;

    }
    
    .you_can_block_2__step2{
        width: 30%;
        margin-top: 0;
        margin-left: 0;
        z-index: 1;
    }
    
    .iphone{
        align-items: center;
        margin-left: 0;
        margin-top: 0;
        display: none;
    }
    

    .zayavka{
        margin-top: 0;
        margin-left: 0;
    
    }

    .you_can_title_second{
        color: black;
        z-index: 1;
        font: 600 28px/34px Montserrat;
        text-align: center;
        margin-top: -15%;
        margin-bottom: 20%;
    }
}


.creators_block{
    padding-top: 1%;
    display: flex;
    background-color: #23242B;
    align-items: center;
    flex-direction: column;    
}
.creators{
    font: 600 20px/25px Montserrat;
    color: white;
    margin: 0;
    margin-bottom: 1%;
}

@media screen and (max-width: 500px) {

    * {
        word-wrap: break-word;
    }

    html{
        width: 100%;
    }

    .wish_title_bg{
        display: none;
    }

    .events_title_bg{
        display: none;
    }

    .img_title{
        display: none;
    }

    .wish_photo_1{
        display: none;
    }

    .wish_photo_2{
        display: none;
    }

    .wish_photo_3{
        display: none;
    }

    .main_block{
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/code_bg.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main_block__title{
        font: 600 28px/34px Montserrat;
        width: 90%;
        text-align: center;
        margin: 10% auto 5%;

    }

    .main_block__text{
        margin: 10% auto 10%;
        width: 90%;
        text-align: center;
        font: 500 20px/22px Montserrat;
    }
    .main_block__button{
        margin: 0;
        width: 150px;
        align-self: center;
    }
    
    .buttons_block{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .second_title_block{
        margin-top: 15%;
        transition: none;
        width: 80%;
    }
    .second_title{
        color: black;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font: 600 26px/31px Montserrat;
    }

    .main_logo{
        flex-shrink: 0;
        flex-grow: 0;
        width: 50%;
        align-self: center;
        padding-left: 0;
    }

    .you_can_title_block{
        padding-top: 10%;
        margin: 0;
        transition: none;   
    }
    .you_can_title{
        font: 600 26px/31px Montserrat;
        color: black;
        margin: 0;
        padding: 0;
        
    }

    .you_can_title_bg{
        display: none;
    }

    .form_title{
        font-size: 20px;
    }
    .feedback_title{
        color:black;
        font-size: 20px;
    }

    .feedback_title_bg{
        display: none;
    }

    .review__text{
        font-size: 10px;
    }

    .second_block{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        
    }

    .step{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .steps_title{
        font: 18px/22px "Source Code Pro";
        width: 100%
    }

    .step_info{
        font: 400 18px/22px "Source Code Pro";
        width: 100%;
        margin-top: 0;
    }
    
    .second_block_Kalinin{
        display: none;
    }

    .second_block_step{
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .stan_spec{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .stan_spec__title{
        font: 600 26px/31px Montserrat;
        width: 100%; 
        text-align: center;
    }

    .you_can_block_tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .you_can_title_2{
        font: 600 19px/21px Montserrat;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .you_can_title_second{
        font: 600 19px/21px Montserrat;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .you_can_block_2__step2{
        width: 80%;
    }
    .you_can_block__step{
        width: 80%;
    }



    .step_info_white{
        font: 400 18px/22px "Source Code Pro";
        margin: 0;

    }

    .block_with_ph{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .wish_title_block{
        width: 100%;
        padding-top: 25%;
        padding-bottom: 25%;
        transition: none;
    }

    .wish_title_block_mobile{
        margin: 0;
        padding: 0;
        display: none;
    }
    .wish_title{
        color:white;
        font: 600 26px/31px Montserrat;
        width: 100%;    
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #23242B;
        padding-top: 10%;   
        padding-bottom: 10%;
    }

    .wish_block{
        margin: 0;
        padding: 0;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .wish_block__step{
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .wish_block__step.second{
        margin-left: 0;
        margin-right: 0;
    }

    .events_title_block{
        margin: 0;
        padding: 0;
        margin-top: 15%;
        padding-bottom: 45%;
        transition: none;

    }
    .events_title{
        top: 0;
        display: flex;
        font: 600 26px/31px Montserrat;
        width: 100%;
        color: black;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .events_block{
        margin: 0;
        padding: 0;
        top: 0;
    }

    .carusel{
        padding: 5% 1% 5%;
        
    }

    .carusel_img{
        display: none;
    }

    .arrow{
        z-index: 1;
        content: '';
        background: white;
        border-radius: 12px;
        border: 0;
        padding-left: 1%;
        padding-top: -5px;
        font-size: 20px;
        color: gray;
        width: 24px;
        height: 24px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        z-index: 10;
        display: flex;
    }

    .gallery{
        width: 80%;
    }

    .text_block{
        margin: 0;
        padding: 0;
        margin-left: 1%;
        width: 8%;
        text-align: center;
    }

    .gallery_title{
        font: 600 18px/22px Montserrat;
    }

    .gallery_text{
        font: 600 16px/18px Montserrat;
        
    }

    .present_title_block{
        margin: 0;
        padding: 0;
        margin-top: 15%;
        padding-bottom: 10%;

    }
    .present_title{
        color: black;
        text-align: center;
        font: 600 26px/31px Montserrat;
        margin: 0;
        padding: 0;
    }

    .present_title_bg{
        display: none;
    }

    .present_block{
        flex-direction: column;
    }

    .present_img{
        display: none;
    }

    .present_img_mobile{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .present_text{
        width: 80%;
}
    .feedback_title_block{
        margin: 0;
        padding:0;
        margin-top: 15%;
        padding-bottom: 15%;
        transition: none;
    }

    .feedback_title{
        font: 600 26px/31px Montserrat;
        margin: 0;
        padding: 0;
    }

    .review__title{
        font: 400 20px/22px Montserrat;
}

    .review__text{
        font: 400 18px/20px Montserrat;

}
    .ava{
        border-radius: 50%;
        width: 30%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .feedback{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .review{
        width: 80%;
        align-items:center;
        justify-content: center;
        text-align: center;
    }

    .form_title{
        font: 600 26px/31px Montserrat;
        text-align: center;
    }

    .contacts_form{
        padding: 5%;
        width: 80%;
    }

    .form_text{
        font: 600 16px/18px Montserrat;
        width: 100%;
    }

    .input{
        width: 80%;
        font: 600 14px/18px Montserrat;

    }

    .form_submit{
        display: flex;
        align-items: center;
        font: 700 14px/16px Montserrat;
        height: 40px;
        padding: 10px;
        margin-left: 0;
    }

    .form__steps_title{
        font: 400 14px/16px "Source Code Pro";
    }

    .format{
        width: 80%;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .versta{
        margin: 0;
        padding-bottom: 10%;
    }

    .creators_block{
        padding-top: 10%;
    }

    .creators{
        font: 600 14px/16px Montserrat;
        padding-bottom: 2%;
    }

    .scrollTop{
    left: -2000%;
}
}

